<div class="col-sm-2 border">
  <div class="m-3">
    <%= image_tag user.avatar, width: "100%", class: "img-responsive center-block" if user.avatar?%>
    <%= image_tag "http://via.placeholder.com/150x130", width: "100%", class: "img-responsive center-block img-rounded"  unless user.avatar?%> 
    <%= link_to user_path(user), class: "nav-link" do %>
      <p><%= user.name %></p> 
    <% end %>

    <%= friend_button(user) %>

  </div>
</div>