<div class="container-fluid">
  <div class="row border-bottom bg-light pt-2">
   <h1 class="pl-2">AcForum</h1>
  </div>
</div>
<br>
<div class="container">
  <div class ="row pb-3">
  <ul class="nav nav-pills">
    <li class="nav-item ">
      <%if @category %>
        <%= link_to "All", posts_path , class:"nav-link"%>
      <%else%>
        <%= link_to "All", posts_path , class:"nav-link active"%>
      <%end%>
    </li>   
    <% @categories.each do |category| %>
      <li class="nav-item">
        <% if @category== category%>
          <%= link_to category.name, posts_path(category_id: category.id),class:"nav-link active"%>
        <% else %>
          <%= link_to category.name, posts_path(category_id: category.id),class:"nav-link"%>
        <%end%>
      </li>
    <%end%>
  </ul>
  </div>
  <div class="row">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th><%= sort_link(@ransack, :replies_count, "Replied count", default_order: :desc) %></th>
          <th>Title</th>
          <th><%= sort_link(@ransack, :last_replied, "Last replied at", default_order: :desc) %></th>
          <th><%= sort_link(@ransack, :views_count, "Viewed count", default_order: :desc) %></th>
        </tr>
      </thead>
      <tbody>
         <!--若無post顯示 -->
        <% if @posts.count == 0 %>
          <tr>
            <td></td>
            <td></td>
            <td>no post</td>
            <td></td>
          </tr>
        <% end %>
        <% @posts.each do |post| %>
          <tr data-link="<%= post_path(post) %>">
            <td><%= post.replies.count %></td>
            <td><%= post.title %></td>
            <td><%= post.last_replied.strftime("%Y-%m-%d")%></td>
            <td><%= post.views_count %></td>
          </tr>
        <% end %>
      </tbody>

    </table>
  <div class="mx-auto mt-3">
    <%=paginate @posts, theme: 'twitter-bootstrap-4' %>
  </div>
  </div>
</div>
<script>
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>