<!DOCTYPE html>
<html>
  <head>
    <title>AcForum</title>
    <!-- viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- navbar ; NEED TO setup color: navbar-light bg-light -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to "AcForum", root_path, class: "navbar-brand" %>
      <!-- navbar brand and toggle //start -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- navbar brand and toggle //end -->

      <!-- nav links and toggle //start -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Feeds", feeds_path, class: "nav-link" %>
          </li>        
          <li class="nav-item">
            <%= link_to "All Post", posts_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "New Post", new_post_path, class: "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <% if current_user %>
            <% if current_user.admin? %>
              <li class="nav-item">
                <%= link_to 'Admin後台', admin_users_path , class: "nav-link" %>
              </li>
            <% end %>
            <li class="nav-item">
              <a class="nav-link" href="">
                <%= current_user.email %>
              </a>
            </li>
            <li class="nav-item">
              <%= link_to "Profile" , user_path(current_user), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- nav links and toggle //end -->
    </nav>

    <!-- flash & dismissable notice/alert -->
    <% if notice %>
      <div class="container-fluid">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>Notice!</strong>
          <%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    <% end %>
    <% if alert %>
      <div class="container-fluid">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Alert!</strong>
          <%= alert %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
